.container {
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  text-align: left;
  transition: background 0.3s, color 0.3s;
}

.light {
  background-color: #c1bfbf;
  color: #0b0a0a;
}
.light h2 {
  color: black;
}


.dark {
  background-color: #242629;
  color: #ffffff;
}

button {
  margin: 10px;
}

